<h1>Create a Post</h1>

<%= form_with model: @post do |f| %>
	<% if f.object.errors.any? %>
		<% f.object.errors.full_messages.each do |message| %>
			<div><%= message %></div>
		<% end%>
	<% end %>

  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div>
    <%= f.label :body %>
    <%= f.text_area :body %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>